
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

a{
  text-decoration: none;
  color: grey;
}

a:hover{
  text-decoration: none;
}

strong{
  color: #000;
}

footer{
  background-color: #001f3f;
  color: #DDDDDD;
  padding: 6px 0 6px 0;
  position: fixed;
  bottom: 0;
  width: 100%
}
